<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EpicorTraceDiffer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Menees.Common" publicKeyToken="5115291defa18758" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.5842.16608" newVersion="4.5.5842.16608" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <EpicorTraceDiffer.Properties.Settings>
      <setting name="UpdateURL" serializeAs="String">
        <value>https://raw.githubusercontent.com/jose-josh-do-dev/EpicorTraceDiffer/master/EpicorTraceDiffer/Update.xml</value>
      </setting>
    </EpicorTraceDiffer.Properties.Settings>
  </applicationSettings>
</configuration>